<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.transportAl">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.AppCompat.Light">
        <service
            android:name="com.project.transportAl.onAppKilled"
            android:stopWithTask="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.project.transportAl.Login.LauncherActivity"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.project.transportAl.Login.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.project.transportAl.Login.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.project.transportAl.Login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.project.transportAl.Customer.CustomerMapActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.project.transportAl.Customer.CustomerSettingsActivity" />
        <activity android:name="com.project.transportAl.Vehicle.VehicleSettingsActivity" />
        <activity android:name="com.project.transportAl.HistoryActivity" />
        <activity android:name="com.project.transportAl.HistorySingleActivity" />
        <activity android:name="com.project.transportAl.Vehicle.VehicleMapActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>